 /************* Basic page************/
body{
	text-align:center;
}
h1{
	font-size:32pt;
}
section{
	background-image:url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
ol{
	font-size:25px;
	color:white;
}
.row{
	background-color:#333456;
	color: #ffff;
	opacity: 0.6;
}
.row:nth-child(2n){
	background-color:#e6b83c;
	color:black;
	opacity: 1;
}

/****** Lesson 2******/
.img{
	height:500px;
	width:500px;
}
.carousel{
	margin:40px;
}
.dropdown{
	position:fixed;
	left:80%;
	z-index:2;
}

/****** Lesson 3******/
.navbar{
	background-color:#e6b83c;
}

.btn{
	margin-top: 5px;
	margin-right:5px;
}

.card{
	width:60%;
}

/********* Game ***********/
#board{
	border: 1px solid black;
	background-color: grey;
	height:350px;
	margin: 20px;
	width:650px;
}
.character{
	background-color: lightblue;
	width: 120px;
	height: 120px;
	padding: 10px;
	margin: 10px;
	float: left;
}
