 /************* Basic page************/
body{
	text-align:center;
}
h1{
	font-size:32pt;
}
section{
	background-image:url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
ol{
	font-size:25px;
	color:white;
	text-align: left
}
.row{
	background-color:#333456;
	color: #ffff;
	opacity: 0.6;
}

.row:nth-child(2n){
	background-color:#e6b83c;
	color:black;
	opacity: 1;
}

/****** Lesson 2******/
.img{
	height:500px;
	width:500px;
}
.carousel{
	margin:40px;
}
.dropdown{
	position:fixed;
	left:80%;
	z-index:2;
}

/****** Lesson 3******/
.navbar{
	background-color:#e6b83c;
}

.btn{
	margin-top: 5px;
	margin-right:5px;
}

.card{
	width:60%;
}

/********* Game ***********/
#board{
	border: 1px solid black;
	background-color: grey;
	height:350px;
	margin: 20px;
	width:650px;
}
.character{
	background-color: lightblue;
	width: 120px;
	height: 120px;
	padding: 10px;
	margin: 10px;
	float: left;
}

.hidden{
	visibility: hidden;
}
.visible{
	visibility: visible;
}.thief{
	background-color: red;
}

/********* TicTacToe ***********/
#ticTacToe input{

}

.ticMain{
	margin: 50px auto;
	height: 240px;
	width: 240px;
	background-color: white;
	color: white;
}

td{
  background-color: #2a313d;
  height: 80px;
  width: 80px;
  font-size: 30px;
  border-radius: 20px;

  border: 8px solid white;
}

td:hover{
	background-color: #525c6b;
}

/******* guessGame *******/

#guessNumber p{
	font-size: 20px;
}
.guessGame{
	background-color: white;
	height: 240px;
	width: 240px;
	padding: 20px;
	margin: 50px auto;
}
#guessHigher,#guessLower{
	background-color: pink;
	height: 64px;
	width: 104px;
	margin: 10px auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;

}


/******* Dice game *********/
#diceGameBoard{
	margin: 50px auto;
	height: 240px;
	width: 240px;
	background-color: white;
	color: white;
}

#dice{
	margin: 50px auto;
	height: 140px;
	width: 140px;
}
